:root {
    --hue: 39;
}

html {
    font-family: sans-serif;
}

body {
    background-color: hsl(var(--hue), 85%, 85%);
    color: #000;
    text-align: center;
}

a:visited {
    color: #0000FF;
}

.home-header {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 25px auto auto;
    flex-direction: column;
    text-align: justify;
}

.home-header img {
    max-height: 100%;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.home-header-text {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-top: 20px;
}

.home-header ul {
    list-style-type: none;
    margin: 20px 0;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

li {
    display: inline;
    margin: 0 20px;
}

.home-samples-box {
    background-color: hsl(var(--hue), 85%, 75%);
    border-radius: 20px;
    max-width: 900px;
    width: calc(100% - 100px);
    text-align: left;
    margin: 30px auto;
    padding: 15px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.home-samples-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;


}

.home-sample {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home-sample img {
    aspect-ratio: 16/9;
    flex-grow: 0;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}


.home-sample a {
    text-decoration: none;
    display: flex;
    word-wrap: break-word;
}

.home-sample div {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-sample {

}

.sample-box {
    background-color: hsl(var(--hue), 85%, 75%);
    border-radius: 20px;
    max-width: 900px;
    width: calc(100% - 100px);
    text-align: left;
    margin: 30px auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 15px;
}

.video {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 420px
}

.sample-info-box {
    background-color: hsl(var(--hue), 60%, 65%);
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
}

.sample-info-box span {
    flex: 1;
    color: black;
}

.sample-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.sample-page-button {
    flex: 1;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: hsl(var(--hue), 60%, 65%);
    border: dimgrey solid 1px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.sample-page-button:hover {
    background-color: hsl(var(--hue), 40%, 55%);
    border: black solid 1px;
}

.flash {
    padding: 10px;
}

.flash.error {
    color: #721c24;
}

.flash.success {
    color: #155724;
}

.sources-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.home-source a {
    text-align: center;
    text-decoration: none;
}

.suggestions {
    margin: 0;
    padding: 0;
}

.suggestions li {
    display: block;
    color: #0000FF;
    cursor: pointer;
}

.wiki-content h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(var(--hue), 60%, 50%);
    margin-bottom: 10px;
}

.wiki-content h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(var(--hue), 60%, 50%);
    margin: 20px 0 10px;
}

.wiki-content h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(var(--hue), 60%, 50%);
    margin: 20px 0 10px;
}

.wiki-content p {
    margin-bottom: 15px;
}

.wiki-content table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    margin-bottom: 15px;
}

.wiki-content td {
    vertical-align: top;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsl(var(--hue), 85%, 95%);
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    max-height: 900px;
    height: calc(100% - 200px);
    max-width: 600px;
    width: calc(100% - 100px);
    backdrop-filter: brightness(1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px)
}

.popup-background.hidden {
    display: none;
}

.popup.hidden {
    display: none;
}

.popup h2 {
    padding-top: 5px;
    margin: 0;
}

.popup button {
    width: fit-content;
    align-self: center;
}

.popup-content {
    position: relative;
    overflow: scroll;
    flex-grow: 1;
}

.popup-content h3 {
    padding-top: 5px;
    margin: 0;
}

.popup-content h4 {
    padding-top: 5px;
    margin: 0;
}

.popup-content p {
    padding-bottom: 5px;
    text-align: justify;
    font-size: 14px;
}

.popup-content ul {
    list-style-type: disc;
    text-align: center;
    padding: 0 0 5px;
    font-size: 14px;
    margin: 0;
}

.popup-content ul li {
    display: list-item;
    width: fit-content;
}
