<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ moment.include_moment() }}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.43/builds/moment-timezone-with-data.min.js"></script>
</head>
<body>

<div class="home-header">
    <img src="{{ url_for('static', filename='img/logo-beta.png') }}" alt="logo">
    <div class="home-header-text">
        {% for i in "the ytpmv sample database" %}
            <div>{{ i }}</div>
        {% endfor %}
    </div>
    <ul>
        <li><a href="{{ url_for("home_page") }}">Home</a></li>
        •
        <li><a href="{{ url_for("all_samples") }}">Samples</a></li>
        •
        <li><a href="{{ url_for("all_sources") }}">Sources</a></li>
        •
        <li><a href="{{ url_for("upload") }}">Upload</a></li>
        •
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for("logout") }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for("login") }}">Login</a></li>
        {% endif %}
    </ul>
</div>

{% block content %}
{% endblock %}

</body>
</html>