<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if unread_notifications_count > 0 %}
            ({{ unread_notifications_count }})
        {% endif %}
        {{ title }}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ moment.include_moment() }}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.43/builds/moment-timezone-with-data.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <meta property="og:site_name" content="YTPMVSD">
    <meta name="theme-color" content="#f9e3b8">
    {% block metadescription %}<meta name="description" content="{{ _("meta_description_default") }}">{% endblock %}
    {% block metatags %}
    {% endblock %}

</head>
<body>

<div class="home-header">
    <div style="max-width: 500px; display: flex; margin: 25px auto auto; flex-direction: column;">
        <img src="{{ url_for('static', filename='img/logo-beta.png') }}" alt="{{ _("image_alt_logo") }}">
        <div class="home-header-text">
            {% for i in _("header_site_name") %}
                <div>{{ i }}</div>
            {% endfor %}
        </div>
    </div>
    <ul>
        <li><a href="{{ url_for("main.home_page") }}">{{ _("nav_home") }}</a></li>
        •
        <li><a href="{{ url_for("main.samples_list_base") }}">{{ _("nav_samples") }}</a></li>
        •
        <li><a href="{{ url_for("main.all_sources") }}">{{ _("nav_sources") }}</a></li>
        •
        <li><a href="{{ url_for("main.tags_list") }}">{{ _("nav_tags") }}</a></li>
        •
        <li><a href="{{ url_for("main.upload") }}">{{ _("nav_upload") }}</a></li>
        •
        {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for("main.notifications") }}">{{ _("nav_notifications") }}{% if unread_notifications_count > 0 %} ({{ unread_notifications_count }}){% endif %}</a>
            </li>
            •
            <li><a href="{{ url_for("main.logout") }}">{{ _("nav_logout") }}</a></li>
        {% else %}
            <li><a href="{{ url_for("main.login") }}">{{ _("nav_login") }}</a></li>
        {% endif %}
    </ul>
    <form role="search" onsubmit="search(event)" class="search-form">
        <span>{{ _("search_label") }}</span>
        <input type="search" placeholder="{{ _("search_placeholder") }}" id="search-input">
        <button type="submit">{{ _("search_button") }}</button>
    </form>

    <script>
        function search(event) {
            event.preventDefault();
            let query = document.getElementById("search-input").value;
            query = query.replace(/\s+$/, ''); //remove trailing whitespace
            query = query.replace(' ', ',');
            window.location.href = "/search?q=" + encodeURIComponent(query);
        }
    </script>
</div>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer style="padding: 0 5px 5px;">
    <a class="fa-brands fa-github footer-links" href="https://github.com/ytpmvsd/ytpmvsd"></a>
    <a class="fa-brands fa-bluesky footer-links" href="https://bsky.app/profile/ytpmvsd.com"></a>
    <a class="fa-brands fa-discord footer-links" href="https://discord.gg/jGKaQWj8nC"></a>
</footer>

<footer style="padding: 0 5px 5px; font-size: 14px; gap: 10px;">
    <a href="{{ url_for('wiki.wiki_page',page='privacy_policy') }}" style="padding: 0 5px; color: hsl(var(--hue), 85%, 30%);">{{ _("footer_privacy_policy") }}</a>
    <a href="{{ url_for('wiki.wiki_page',page='dmca_policy') }}" style="padding: 0 5px; color: hsl(var(--hue), 85%, 30%);">{{ _("footer_dmca") }}</a>
</footer>

</body>
</html>