<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ moment.include_moment() }}
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.43/builds/moment-timezone-with-data.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <meta property="og:site_name" content="YTPMVSD">
    <meta name="theme-color" content="#f9e3b8">
    {% block metatags %}
    {% endblock %}

</head>
<body>

<div class="home-header">
    <img src="{{ url_for('static', filename='img/logo-beta.png') }}" alt="logo">
    <div class="home-header-text">
        {% for i in "the ytpmv sample database" %}
            <div>{{ i }}</div>
        {% endfor %}
    </div>
    <ul>
        <li><a href="{{ url_for("home_page") }}">Home</a></li>
        •
        <li><a href="{{ url_for("samples_list_base") }}">Samples</a></li>
        •
        <li><a href="{{ url_for("all_sources") }}">Sources</a></li>
        •
        <li><a href="{{ url_for("upload") }}">Upload</a></li>
        •
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for("logout") }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for("login") }}">Login</a></li>
        {% endif %}
    </ul>
</div>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer style="padding: 0 5px 5px;">
    <a class="fa-brands fa-github footer-links" href="https://github.com/ytpmvsd/ytpmvsd"></a>
    <a class="fa-brands fa-bluesky footer-links" href="https://bsky.app/profile/ytpmvsd.com"></a>
    <a class="fa-brands fa-discord footer-links" href="https://discord.gg/jGKaQWj8nC"></a>
</footer>

<footer style="padding: 0 5px 5px; font-size: 14px; gap: 10px;">
    <a href="{{ url_for('wiki_page',page='privacy_policy') }}" style="padding: 0 5px; color: hsl(var(--hue), 85%, 30%);">Privacy Policy</a>
    <a href="{{ url_for('wiki_page',page='dmca_policy') }}" style="padding: 0 5px; color: hsl(var(--hue), 85%, 30%);">DMCA</a>
</footer>

</body>
</html>