{% extends "base.html" %}

{% block content %}

    <div id="changelog-background" class="popup-background hidden"></div>
    <div id="changelog-popup" class="popup hidden" style="height: calc(45% - 150px);">
        <h2>Reencoding...</h2>
        <p>Please do not leave this page...</p>
        <div class="popup-content">
            <div class="loading-spinner"></div>
        </div>
    </div>

    <h2>Edit Sample Details</h2>
    <div class="multiple-upload-samples">
        {% for sample in samples %}
            <div class="multiple-upload-sample-container">
                <video class="batch-video" controls>
                    <source src="{{ url_for('static', filename='media/samps/' + sample.stored_as) }}">
                </video>
            </div>
        {% endfor %}
    </div>
    <form method="POST" style="display: block; margin-top: 20px">
        <div class="edit-fields" style="display: flex; flex-flow: column; gap: 20px">
            <table align="center">
                <tr class="source-box">
                    <td align="right">
                        <b>Source:</b>
                    </td>
                    <td align="left">
                        <input type="text" id="source" name="source" autocomplete="off" placeholder="">
                    </td>
                    <td>
                        <button type="button" id="clear-source" disabled="disabled">Clear</button>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan=3>
                        <small id="instruction-text">Search and select from list below</small>
                    </td>
                </tr>
                <tr class="source-box">
                    <td align="left" colspan=3>
                        <span class="suggestions">
                            <ul id="source-suggestions">
                            </ul>
                        </span>
                        <input type="hidden" id="source_id" name="source_id">
                    </td>
                </tr>
            </table>

            {#        <label for="tags">Tags (comma-separated):</label>#}
            {#        <input type="text" id="tags" name="tags">#}

            <div>
                {% if force_reencode %}
                    <label for="reencode">Reencode All <em>(required due to one or more of the samples, <a href="{{ url_for('wiki_page',page='reencode') }}">learn more</a>)</em></label>
                    <input type="checkbox" id="reencode" name="reencode" checked disabled="disabled">
                {% else %}
                    <label for="reencode">Reencode (recommended)</label>
                    <input type="checkbox" id="reencode" name="reencode" checked>
                     <br><small>This will ensure the sample is compatible with the website and will not cause errors.<br>You should only uncheck this if it's important the original sample's metadata remain intact.</small>
                {% endif %}
            </div>

            <div>
                <button type="submit" class="submit_button">Save</button>
            </div>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/source_selector.js') }}"></script>
    <script>
    document.querySelector(".submit_button").onclick = function() {
        const reencode = document.getElementById('reencode');
        if (reencode.checked) {
            document.getElementById('changelog-popup').classList.remove('hidden');
            document.getElementById('changelog-background').classList.remove('hidden');
        }
    }
    </script>

{% endblock %}
