{% extends 'base.html' %}

{% block content %}

    {% if changelog %}
        <div id="changelog-popup" class="popup hidden">
            <h2>Welcome back!</h2>
            <div class="popup-content">
                {{ changelog | safe }}
            </div>
            <button onclick="closeChangelog()">Kill Clop button</button>
        </div>
    {% endif %}

    <div class="home-samples-box">
        <h1 style="padding-bottom: 10px">Top Samples</h1>
        <div class="home-samples-grid">
            {% for sample in top_samples %}
                <div class="home-sample">
                    <a href="../sample/{{ sample.id }}"><img
                            src="{{ url_for('static', filename='media/thumbs/' + sample.thumbnail_filename) }}"
                            alt="sample"></a>
                    <a href="../sample/{{ sample.id }}"><div>{{ sample.filename }}</div></a>
                    <p class="upload-date" data-utc="{{ sample.upload_date.isoformat() }}"
                       style="font-size: 14px;"></p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="home-samples-box">
        <h1 style="padding-bottom: 10px">Recent Samples</h1>
        <div class="home-samples-grid">
            {% for sample in recent_samples %}
                <div class="home-sample">
                    <a href="../sample/{{ sample.id }}"><img
                            src="{{ url_for('static', filename='media/thumbs/' + sample.thumbnail_filename) }}"
                            alt="sample"></a>
                    <a href="../sample/{{ sample.id }}"><div>{{ sample.filename }}</div></a>
                    <p class="upload-date" data-utc="{{ sample.upload_date.isoformat() }}"
                       style="font-size: 14px;"></p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.querySelectorAll('.upload-date').forEach(element => {
            const utcDate = element.getAttribute('data-utc');  // Get the date from data attribute
            const localTime = moment.utc(utcDate).local();  // Convert to local time
            element.innerText = localTime.fromNow();  // Set the relative time
        });

        const currentVer = "{{ version }}";

        document.addEventListener("DOMContentLoaded", function () {
            const lastSeenVersion = localStorage.getItem("lastSeenVer");

            if (lastSeenVersion !== currentVer) {
                document.getElementById("changelog-popup").classList.remove("hidden");
            }
        });

        function closeChangelog() {
            localStorage.setItem("lastSeenVer", currentVer);
            document.getElementById("changelog-popup").classList.add("hidden");
        }

    </script>

{% endblock %}