{% extends 'base.html' %}

{% block content %}

    <form method="POST">
        <label>Username/email: <input type="text" name="login" required></label><br>
        <label>Password: <input type="password" name="password" required></label><br>
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('register') }}">Need an account? Register</a>

{% endblock %}