{% extends 'base.html' %}

{% block content %}

    <form method="POST">
        <table align="center">
            <tr class="reglog-box">
                <td><label>Username:</label></td>
                <td><input type="text" name="username" required /></td>
            </tr>
            <tr class="reglog-box">
                <td><label>Email:</label></td>
                <td><input type="email" name="email" required /></td>
            </tr>
            <tr class="reglog-box">
                <td><label>Password:</label></td>
                <td><input type="password" name="password" required /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Register</button></td>
            </tr>
        </table>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <small><a href="{{ url_for('main.login') }}">Have an account? Login</a></small>

{% endblock %}