{% extends 'base.html' %}

{% block metatags %}
    {% set ns = namespace(video_stream=None) %}
    {% for stream in metadata.streams %}
        {% if stream.codec_type == "video" %}
            {% set ns.video_stream = stream %}
            {% break %}
        {% endif %}
    {% endfor %}

    <meta property="og:title" content="{{ sample.filename }}"/>
    <meta property="og:video" content="{{ url_for('static', filename='media/samps/' + sample.stored_as, _external=True, _scheme='https') }}">
    <meta property="og:type" content="video.other"/>
    <meta property="og:video:type" content="video/mp4"/>
    <meta property="og:video:width" content="{{ ns.video_stream.width }}"/>
    <meta property="og:video:height" content="{{ ns.video_stream.height }}"/>
    <meta property="article:published_time" content="{{ sample.upload_date.utcnow().isoformat() }}Z">
{% endblock %}

{% block content %}

    <div class="sample-box">
        <div class="sample-player-box">
            <video class="video" controls>
                <source src="{{ url_for('static', filename='media/samps/' + sample.stored_as) }}">
            </video>
            <h1>{{ sample.filename }}</h1>
            <p class="uploader">Uploaded by <a href="{{ url_for('user_page',user_id=uploader.id) }}">{{ uploader.username }}</a></p>
            <p class="upload-date" data-utc="{{ sample.upload_date.isoformat() }}"></p>
            <script>
                document.querySelectorAll('.upload-date').forEach(element => {
                    const utcDate = element.getAttribute('data-utc');
                    const localTime = moment.utc(utcDate).local();
                    element.innerText = 'Uploaded ' + localTime.fromNow();
                });
            </script>
        </div>
        <div class="sample-info-box">
            <div class="sample-buttons">
                <a href="{{ url_for('download_sample', sample_id=sample.id) }}"
                   class="sample-page-button" style="--hue: 100">
                    <span>Download sample</span>
                </a>
                <a class="sample-page-button like-button" data-sample-id="{{ sample.id }}" style="--hue: 200">
                    <span>{% if current_user in sample.likes %}Unlike{% else %}Like{% endif %}</span>
                    <span class="like-count">{{ sample.likes|length }}</span>
                </a>
                {% if current_user.is_admin %}
                    <a class="sample-page-button delete-button" data-sample-id="{{ sample.id }}" style="--hue: 0">
                        <span>Delete sample</span>
                    </a>
                {% endif %}
            </div>
            <div class="sample-metadata" style="display: flex; flex-flow: column; justify-content: space-around;">
                {% set ns = namespace(video_stream=None) %}
                {% for stream in metadata.streams %}
                    {% if stream.codec_type == "video" %}
                        {% set ns.video_stream = stream %}
                        {% break %}
                    {% endif %}
                {% endfor %}

                {% if sample.source_id %}
                    <span><b>Source:</b> <a href="{{ url_for('source_page',source_id=sample.source_id) }}">{{ sample.source.name }}</a></span>
                {% endif %}

                <span><b>Filesize:</b> {{ "%.2f MB" | format( metadata.filesize|int/1000/1000 ) }}</span>

                <span><b>Resolution:</b> {{ metadata.width }}x{{ metadata.height }}
                                    ({{ metadata.aspect_ratio }})</span>

                <span><b>Frame rate:</b> {{ metadata.framerate|int if metadata.framerate.is_integer() else metadata.framerate|round(3) }} FPS</span>

            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".like-button").forEach(button => {
                button.addEventListener("click", function () {

                    {% if current_user.is_authenticated %}
                        const sampleId = this.getAttribute("data-sample-id");
                        const likeCountSpan = this.querySelector(".like-count");


                        fetch(`/sample/like/${sampleId}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    likeCountSpan.textContent = data.likes;
                                    this.querySelector("span").textContent = data.liked ? "Unlike" : "Like";  // Change text
                                }
                            });
                    {% else %}
                        window.alert("You are not logged in!");
                    {% endif %}
                });
            });
        });
    </script>

    {% if current_user.is_admin %}
        <script>
            document.querySelector('.delete-button').addEventListener("click", function () {
                const sampleId = this.getAttribute("data-sample-id");

                fetch(`/sample/delete/${sampleId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        window.alert(data.message);
                        window.location = '/';
                    })
                    .catch(error => console.error("Error:", error));
            });
        </script>
    {% endif %}

{% endblock %}