{% extends 'base.html' %}

{% block metadescription %}<meta name="description" content="{{ _("meta_description_sources") }}">{% endblock %}

{% block content %}

    <div class="home-samples-box">
        <div class="home-samples-header" style="display: flex; align-items: center; padding-bottom: 10px;">
            <h1>{{ _("sources_header") }}</h1>
        </div>

        <div class="sources-grid">
            {% for source in sources %}
                <div class="home-source">
                    <a href="../source/{{ source.id }}">
                        <div>{{ source.name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}