{% extends 'base.html' %}

{% block content %}

    <div class="upload-form">
        {% if current_user.is_uploader %}
            <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" accept="video/*" multiple>
            </form>
            <script>
                document.getElementById('file').addEventListener('change', function () {
                    document.getElementById('uploadForm').submit();
                });
            </script>
            Only .mp4 files are currently supported.
            Max file size is 10MB.
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% else %}
            Only approved users can upload samples.
        {% endif %}
    </div>

{% endblock %}