python-dotenv~=1.1.0
ffmpeg~=1.4
ffmpeg-python~=0.2.0
Flask~=3.0.3
Flask-Login~=0.6.3
Flask-Migrate~=4.0.7
SQLAlchemy~=2.0.40
Werkzeug~=3.0.4
Flask-Bcrypt~=1.0.1
alembic~=1.13.3
Flask-Moment~=1.0.6
Flask-SQLAlchemy~=3.1.1
psycopg2-binary==2.9.10
gunicorn
Markdown~=3.8